@tailwind base;
@tailwind components;
@tailwind utilities;

#form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-block: 2.5rem;
}

#input-text {
  flex: 1 0 300px;
  padding-block:.7rem ;
}

#third {
  flex: 1 0 100%;
  padding-block: .7rem;
}